# Python
__pycache__/
*.py[cod]
*$py.class
mpu/venv/
.venv/
env/

# HDL / Simulation
build/
*.vvp
*.vcd
*.log
transcript
work/
mpu/hdl/sim/*/work*/
mpu/hdl/sim/*/transcript
*.jou

# Generated Vectors
mpu/hdl/vectors/*

# IDEs / Editors
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db

# jsons
*.json